@import "../abstracts/variables";

html {
    font-size: 62.5%;

    @media only screen and (max-width: $bp-medium) {
        font-size: 50%;
    }
}

body {
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
    overflow-x: hidden;

    & > * {
        font-family: "Inter", sans-serif;
    }
}
